.footer-holder {
  background-color: #606262 !important;
  box-shadow: 0 4px 6px #4e5050 inset;
  padding: 40px 15px;
  position:inherit;
  bottom:0;
  width:100%;
  left: 0px;
}
.copyrights {
  text-align: center;
  font-size: 12px;
  color: #959595;
  padding: 0 0 5px;
}
ul.footer-nav {
  text-align: center;
  margin: 0;
  padding: 0 0 27px;
  display: block;
  li {
    display: inline-block;
    padding: 0 5px;
    a {
      font-size: 12px;
      color: #959595;
      transition: all 0.5s;
      &:hover {
        color: $white;
      }
    }
  }
}
ul.socials {
  text-align: center;
  margin: 0;
  padding: 0;
  display: block;
  li {
    display: inline-block;
    padding: 0 5px;
    img {
      max-width: 60px;
    }
  }
}
