<p>Your product with following details has been rejected by admin. </p>
</br></br>
<p> Product Name: <%= "#{@product}"%></p></br>
<p> Model No: <%= "#{ @productmodel_No}"%></p></br>
<p> CE files Record Number: <%= "#{@productmodel_number}"%></p></br>
<p>Comments: <%= "#{@comment.comments}"%> </p>


