<div class="content-page-holder">
  <div class="products-inner">
    <div class="products-header new-product">
      <h1>New Company</h1>
    </div>
    <div class="product-form-rows">
      <%= render "form" %>
    </div>

  </div>
</div>
