<div class="cookiebar" id="cookiebar">
  <div class="cookieinner">
    <div id="continuebtn" class="continuebtn" >X</div>
    <p>We use <%=link_to "cookies",cookie_path%> to personalise content and ads, to provide social media features and to analyse our traffic. We also share information about your use of our site with our social media, advertising and analytics partners. By continuing to use our site, you accept our use of cookies.</p>
  </div>
</div>