<div class="container-fluid">
<!--  <h1 class="mt-5">Payment Info</h1>-->
  <div  id="card-elements">
    <label for="name">Name on Card</label>
    <div class="input-group mb-2">
      <input type="text" placeholder="Name on Card" class="form-control" id="full-name">
    </div>
    <label for="card-number">Credit Card Number</label>
    <div class="input-group mb-2">
      <span id="card-number-element" class="form-control"></span>
    </div>
    <label for="card-cvc">CVC Number</label>
    <div class="input-group mb-2">
      <span id="card-cvc-element" class="form-control"></span>
    </div>
    <label for="card-exp">Expiration</label>
    <div class="input-group mb-2">
      <span id="card-expiry-element" class="form-control">
      </span>
    </div>
    <label for="name">Post Code</label>
    <div class="input-group mb-2">
      <input type="text" placeholder="Post Code" class="form-control" id="postal-code">
    </div>
  </div>
  <div id="card-errors" class="alert alert-danger" role="alert"></div>
</div>