.content-page-holder
  .container.privacy
    %h1= page_title

    %p.privacy-apply This Privacy Policy applies to the services offered by the CE files website (www.cefiles.com).

    %h2 Personal information is important

    %p CE files is committed to safeguarding personal privacy. It recognises that individuals have a right to control how their personal information is collected and used. Providing personal information is an act of trust and it is taken seriously. Unless given consent to do otherwise, CE files will only collect and use personal information as set out below.
    %p CE files employs principles that meet and exceed the requirements of the Australian privacy legislation.

    %h2 Collecting personal information

    %p CE files will not collect or monitor any personal information about an individual without their consent. The only personal information collected is what has been provided voluntarily.
    %p When a product is purchased or through marketing activities (online, in a store, over the telephone etc.), personal information may be requested (such as name and address) in order to service product, provide upgrades or updated information, and advise of other CE files products, which may be of interest. No one is obligated to provide personal information. However, failure to do so may result in CE files being unable to sell you products and/or provide certain services including after sales services.
    %p CE files' policy for collecting personal information from children under the age of 13 is to seek the permission of a parent or guardian for the collection of this information.

    %h2 Use of tracking technologies

    %p CE files uses tracking technologies such as cookies or web beacons to make use of the website and services as convenient as possible. Cookies are pieces of information that a web site transfers to a computer's hard disk for record keeping purposes. Web Beacon is a technical method that sends information related to the access to websites, when you browse websites, open or preview an HTML-formatted email. Most web browsers are set to accept tracking technologies such as cookies or web beacons. These tracking technologies do not themselves personally identify users, although they do identify a user's browser. These tracking technologies allow CE files to monitor the items an individual may want to purchase as they move through the shopping site, and to record how many people are using the different parts of the site. It is possible to set the browser to refuse tracking technologies such as cookies or web beacons, however, this may limit the services provided by CE files' web site.

    %h2 Using and disclosing your personal information

    %p Personal Information will be used for the following primary purpose:

    %ul.spaced-lis
      %li To fulfil obligations under any sale and purchase contract and/or any other contract between the individual and CE files.
      %li To render services related to CE files business such as warranty or after sales services.
      %li To provide information about products and/or services.
      %li To obtain opinions or comments about products and/or services.




    %p.privacy-p CE files and CE files group companies recognise the trust with which individuals provide personal information, and such information will not be used or disclosed for any other purposes without consent, except in exceptional cases when disclosure may be required by law or is necessary to protect the rights or property of CE files, any CE files group company, or any member of the public, or to lessen a serious threat to a person's health or safety.

    %h2 Contact by CE files


    %p CE files does not send advertising information without obtaining prior consent. If an individual receives communications from CE files which they do not wish to receive, they may remove their name from the database by contacting CE files via email at admin@cefiles.com. Please allow 14 days for this request to be processed.

    %h2 Individual's right of access

    %p Individuals have the right to review the information that may be recorded on the CE files database. Information may be reviewed by contacting CE files.

    %h2 Changing and deleting the information we have about you

    %p Information contained on the database may be amended by contacting CE files. In the same way, a request may be made to delete personal information, and all reasonable steps to delete the information will be made, except where it is required for legal reasons. Deletion of information may result in CE files being unable to sell products directly and/or provide certain services including after sales services.

    %h2 Storage and security of personal information

    %p CE files will endeavour to take all reasonable steps to keep secure any personal information recorded, and to keep this information accurate and up to date. The information is stored on secure servers if in digital format, or in locked areas if in hardcopy format: these repositories are protected in controlled facilities. In some cases these facilities may be overseas. CE files employees and data processors are obliged to respect the confidentiality of any personal information held by CE files. However, security of communications over the Internet cannot be guaranteed, and therefore absolute assurance that information will be secure at all times cannot be given. CE files will not be held responsible for events arising from unauthorised access to personal information.

    %h2 CE files and links to other web sites

    %p CE files provides links to web sites outside of the CE files site. These linked sites are not under the control of CE files, and CE files is not responsible for the conduct of companies linked to the CE files web site, nor for the performance or otherwise of any content and/or software contained in such external websites.

    %h2 Problems or queries

    %p Queries relating to the Privacy Policy, or any problems or complaints may be directed by email to Personal Information Officer.