.content-page-holder-terms
  .container.terms-and-conditions-new
    %h1= page_title
    .points
      %ol
        %li
          %p INTRODUCTION
          %p Welcome to www.cefiles.com (hereinafter referred to as the “CE files” or “website” or “site” or “we” or “us”). The website is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein (the "Terms"). Your use of our website constitutes your agreement to all such Terms.
          %p By using the Site, you agree to comply with and be legally bound by the terms and conditions of these Terms of Service ("Terms"). These Terms govern your access to and use of the Site and Services and all Collective Content, and constitute a binding legal agreement between you and us. If you do not agree to these Terms, you have no right to obtain information from or otherwise continue using the Site. Failure to use the Site in accordance with these Terms may subject you to civil and criminal penalties.
          %p The use of this Website constitutes your consent to, and agreement to, abide by the most current version of these terms and conditions (the "Terms"). We may at any time revise these terms and conditions by updating the Terms. You agree to be bound by subsequent revisions and agree to review the Terms periodically for changes to the terms and conditions. The most up to date version of the Terms will always be available for your review under the "Terms of Use" link that appears at the bottom of the Website.
          %p This website reserves the right to recover the cost of services, collection charges and lawyers fees from persons using the Site fraudulently. This website reserves the right to initiate legal proceedings against such persons for fraudulent use of the Site and any other unlawful acts or acts or omissions in breach of these terms and conditions.
          %p CE files takes no responsibility for the accuracy, completeness or legal sufficiency of the information contained on this website. Product specific information that has been posted by third parties, have no affiliation with CE files and have represented to CE files that they are authorised to supply and publish information regarding the products involved in the posting. CE files makes no representation concerning the factual or legal accuracy of these records.
          %p PLEASE READ THESE TERMS OF USE AND CAREFULLY AS THEY CONTAIN IMPORTANT INFORMATION REGARDING YOUR LEGAL RIGHTS, REMEDIES AND OBLIGATIONS. THESE INCLUDE VARIOUS LIMITATIONS AND EXCLUSIONS, AND A CLAUSE THAT GOVERNS THE JURISDICTION AND VENUE OF DISPUTES.
          %p IN USING THIS WEBSITE YOU ARE DEEMED TO HAVE READ AND AGREED TO THE FOLLOWING TERMS AND CONDITIONS SET FORTH HEREIN. ANY INCIDENTAL DOCUMENTS AND LINKS MENTIONED SHALL BE CONSIDERED TO BE ACCEPTED JOINTLY WITH THESE TERMS. YOU AGREE TO USE THE WEBSITE ONLY IN STRICT INTERPRETATION AND ACCEPTANCE OF THESE TERMS AND ANY ACTIONS OR COMMITMENTS MADE WITHOUT REGARD TO THESE TERMS SHALL BE AT YOUR OWN RISK. THESE TERMS AND CONDITIONS FORM PART OF THE AGREEMENT BETWEEN THE USERS AND US. BY ACCESSING THIS WEBSITE, AND/OR UNDERTAKING TO PERFORM A SERVICE BY US INDICATES YOUR UNDERSTANDING, AGREEMENT TO AND ACCEPTANCE, OF THE DISCLAIMER NOTICE AND THE FULL TERMS AND CONDITIONS CONTAINED HEREIN.
        %li
          %p LICENSE TO USE WEBSITE
          %p By accessing our website you accept these terms and conditions of use. Subject to your acceptance of these terms and conditions of use, and notwithstanding the restrictions set out above, we grant to you a non-exclusive non-transferable non-sub-licensable license for the specific purpose of displaying the www.cefiles.com and accompanying product identification number, e.g. www.cefiles.com/12345. We may revoke this license at any time, with or without notice or explanation.
        %li
          %p REGISTRATION
          %p I. In order to avail our services you shall be required to create an account with us.
          %p II. In order to register for an account with us (an "Account") you need to provide certain personal information such as name, email address, contact number, Company name, Company address, zip code and password.
          %p III. You represent and warrant that all required registration information you submit is truthful and accurate, and you will maintain the accuracy of such information. You are responsible for maintaining the confidentiality of your Account login information and are fully responsible for all activities that occur under your Account. You agree to immediately notify us of any unauthorized use, or suspected unauthorized use of your Account or any other breach of security. Source-wave website cannot and will not be liable for any loss or damage arising from your failure to comply with the above requirements. You must not share your password or other access credentials with any other person or entity that is not authorized to access your account. Without limiting the foregoing, you are solely responsible for any activities or actions that occur under your website account access credentials. We encourage you to use a “strong” password (a password that includes a combination of upper and lower case letters, numbers, and symbols) with your account. We cannot and will not be liable for any loss or damage arising from your failure to comply with any of the above.
          %p IV. You agree to provide and maintain accurate, current and complete information about your Account. Without limiting the foregoing, in the event you change any of your personal information as mentioned above in this Agreement, you will update your Account information promptly.
          %p V. When creating an Account, don’t provide any false personal information to us (including without limitation a false username) or create any Account for anyone other than yourself without such other person’s permission.
          %p VI. We reserve the right to suspend or terminate your Account if any information provided during the registration process or thereafter proves to be inaccurate, false or misleading or to reclaim any username that you create through the Service that violates our Terms. If you have reason to believe that your Account is no longer secure, then you must immediately notify us at admin@cefiles.com.
          %p VII. You may not transfer or sell your CE files account to another party.
          %p VIII. You guarantee that you have the authority to bind the entity to this Agreement.
          %p IX. Our Services are not available to temporarily or indefinitely suspended members. Our website reserves the right, in its sole discretion, to cancel unconfirmed or inactive accounts. Our website reserves the right to refuse service to anyone, for any reason, at any time.
          %p X. One individual can own only one account in his/her name.
          %p XI. You agree to comply with all local laws regarding online conduct and acceptable content. You are responsible for all applicable taxes. In addition, you must abide by our website’s policies as stated in the Agreement and the website policy documents published on the Website as well as all other operating rules, policies and procedures that may be published from time to time on the Website by Company.

        %li
          %p SERVICES
          %p I.	 Our website is an online platform via which users after successfully registering and subscribing to our services by choosing amongst the different plans available on the website can send to the documents to their prospective customers through a single weblink instead of providing them a hardcopy of the same.
          %p II. The website can at any time at its sole discretion change the subscription plans available at their website.
        %li
          %p PAYMENTS
          %p I. The users shall make payments to us via their valid debit or credit cards at the time of registering our website.
          %p II. Unless otherwise stated, all prices/fees are quoted in US Dollars.
          %p III. Our website uses third party payment providers to receive payments from users. We are not responsible for delays or erroneous transaction execution or cancellation of orders due to payment issues.
          %p IV. We take utmost care to work with 3rd party payment providers, but do not control their systems, processes, technology and work flows, hence cannot be held responsible for any fault at the end of payment providers.
          %p V. Our website reserves the right to refuse to process transactions by users with a prior history of questionable charges including breach/violation of any law or any charges imposed by Issuing Bank or breach of any policy.
          %p VI. Users acknowledge that we will not be liable for any damages, interests or claims etc. resulting from not processing a transaction or any delay in processing a transaction which is beyond our control.
          %p VII. Our website reserves the right to recover the cost of goods, collection charges and lawyers' fees from persons using the Site fraudulently. We reserve the right to initiate legal proceedings against such persons for fraudulent use of the Site and any other unlawful act or acts or omissions in breach of these terms and conditions.
          %p VIII. We as a merchant shall be under no liability whatsoever in respect of any loss or damage arising directly or indirectly out of the decline of authorization for any transaction, on account of the cardholder having exceeded the preset limit mutually agreed by us with our acquiring bank from time to time.
          %p IX. By using a credit/debit card to pay for your order, you confirm that the card being used is yours. To ensure that your credit, debit or charge card is not being used without your consent we will validate the name, address and other personal information supplied by you during the order process against appropriate third party databases. By accepting the Terms & Conditions you consent to such checks being made. In performing these checks personal information provided by you may be disclosed to a registered Credit Reference Agency which may keep a record of that information.
        %li
          %p YOU AGREE AND CONFIRM
          %p I. That you will use the services provided by our website, its affiliates and contracted companies, for lawful purposes only and comply with all applicable laws and regulations while using the Site and transacting on the Site.
          %p II. You will provide authentic and true information in all instances where such information is requested of you. We reserve the right to confirm and validate the information and other details provided by you at any point of time. If upon confirmation your details are found not to be true (wholly or partly), we have the right in our sole discretion to reject the registration and debar you from using the Services of our website and / or other affiliated websites without prior intimation whatsoever.
          %p III. That you are accessing the services available on this Site and transacting at your sole risk and are using your best and prudent judgment before entering into any transaction through this Site.
          %p IV. You shall at all times ensure full compliance with the applicable laws regarding your use of our service.
          %p V. It is possible those other users (including unauthorized/unregistered users or "hackers") may post or transmit offensive or obscene materials on the Website and that you may be involuntarily exposed to such offensive and obscene materials. It also is possible for others to obtain personal information about you due to your use of the website, and that the recipient may use such information to harass or injure you. We do not approve of such unauthorized uses, but by using the website you acknowledge and agree that we are not responsible for the use of any personal information that you publicly disclose or share with others on the website. Please carefully select the type of information that you publicly disclose or share with others on the Website.
        %li
          %p ACCEPTABLE USE
          %p You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity. You must not use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software. You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our website without our express written consent. You must not use our website to transmit or send unsolicited commercial communications. You must not use our website for any purposes related to marketing without our express written consent.
        %li
          %p BREACHES OF THESE TERMS AND CONDITIONS OF USE
          %p Without prejudice to our other rights under these terms and conditions of use, if you breach these terms and conditions of use in any way, or if we reasonably suspect that you have breached these terms and conditions of use in any way, we may:
          %ul.ordered
            %li.bullets send you one or more formal warnings;
            %li.bullets temporarily suspend your access to the website;
            %li.bullets permanently prohibit you from accessing the website;
            %li.bullets block computers using your IP address from accessing the website;
            %li.bullets contact your internet services provider and request that they block your access to the website;
            %li.bullets bring court proceedings against you for breach of contract or otherwise;
            %li.bullets suspend and/or delete your account with the website; and/or
            %li.bullets delete and/or edit any or all of your user generated content.
          %p Where we suspend or prohibit or block your access to our website or a part of our website, you must not take any action to circumvent such suspension or prohibition or blocking (including without limitation creating and/or using a different account).
        %li
          %p VARIATION
          %p We may revise these terms and conditions of use from time-to-time. Revised terms and conditions of use will apply to the use of our website from the date of the publication of the revised terms and conditions of use on our website. Please check this page regularly to ensure you are familiar with the current version.
        %li
          %p LIMITED WARRANTIES
          %p You acknowledge that the information published on this website is submitted by users, and that we do not usually review, approve or edit such information. We do not warrant the completeness or accuracy of the information published on this website; nor do we commit to ensuring that the website remains available or that the material on the website is kept up-to-date. To the maximum extent permitted by applicable law we exclude all representations, warranties and conditions relating to this website and the use of this website (including, without limitation, any warranties implied by law of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).
        %li
          %p LIMITATIONS AND EXCLUSIONS OF LIABILITY
          %p I. The Site is provided without any warranties or guarantees and in an "As Is" condition. You must bear the risks associated with the use of the Site.
          %p II. Nothing in these terms and conditions of use will:
          %ul.ordered
            %li.bullets limit or exclude our or your liability for death or personal injury resulting from negligence;
            %li.bullets limit or exclude our or your liability for fraud or fraudulent misrepresentation;
            %li.bullets limit any of our or your liabilities in any way that is not permitted under applicable law; or
            %li.bullets exclude any of our or your liabilities that may not be excluded under applicable law.

          %p III. The limitations and exclusions of liability set out in this Section and elsewhere in these terms and conditions of use:
          %ul.ordered
            %li.bullets are subject to the preceding paragraph; and
            %li.bullets govern all liabilities arising under the terms and conditions of use or in relation to the subject matter of the terms and conditions of use, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.
          %p IV. To the extent that the website and the information and services on the website are provided in exchange for fees payable, we will not be liable for any loss or damage of any nature. We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.
          %p V. We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, anticipated savings, business, contracts, commercial opportunities or goodwill. We will not be liable to you in respect of any loss or corruption of any data, database or software. We will not be liable to you in respect of any special, indirect or consequential loss or damage.
          %p VI. We will not be responsible for any errors or omissions or for the results obtained from the use of such information or for any technical problems you may experience with the Site. Our website periodically schedules system downtime for the Sites for maintenance and other purposes. Unplanned system outages also may occur. You agree that we have no responsibility and is not liable for: (a) the unavailability of any of the Sites; (b) any loss of data, information or materials caused by such system outages; (c) the resultant delay, mis-delivery or non-delivery of data, information or materials caused by such system outages; or (d) any outages caused by any third parties, including without limitation any companies or servers hosting any of the Sites, any Internet service providers or otherwise.
          %p VII. You accept that we have an interest in limiting the personal liability of our officers and employees. Having regard to that interest, you accept that we are a limited liability entity and agree that you will not bring any claim personally against individual officers or employees in respect of any losses you suffer in connection with the website or these terms and conditions of use. This will not, of course, limit or exclude the liability of the company itself for the acts and omissions of our officers and employees.
          %p VIII. You agree to the publication of comments, reviews and/or feedback relating to you, by others, on our website. You acknowledge that such comments, reviews and/or feedback may be critical or defamatory or otherwise unlawful; and you agree that you will not hold us liable in respect of any such comments, reviews and/or feedback, irrespective of whether we are aware or ought to have been aware of such comments, reviews and/or feedback.
        %li
          %p COPYRIGHT & TRADEMARK
          %p I. CE files, its suppliers and licensors expressly reserve all intellectual property rights in all text, programs, products, processes, technology, content and other materials, which appear on this Site. CE files does not confer and shall not be considered as conferring upon anyone any license under any of www.cefiles.com or any third party's intellectual property rights. All rights, including copyright, in this website are owned by or licensed to us or third party suppliers. Any use of this website or its contents, including copying or storing it or them in whole or part, other than for your own personal, non-commercial use is prohibited without the permission of our website.
          %p II.www.cefiles.com names and logos and all related product and service and our slogans are the trademarks or service marks of Product Presence. All other marks are the property of their respective companies. No trademark or service mark license is granted in connection with the materials contained on this Site. Access to this Site does not authorize anyone to use any name, logo or mark in any manner.
          %p III. All materials, including images, text, illustrations, designs, icons, photographs, programs, music clips or downloads, video clips and written and other materials that are part of this Site (collectively, the "Contents") are intended solely for personal, non-commercial use. You may download or copy the Contents and other downloadable materials displayed on the Site for your personal use only. No right, title or interest in any downloaded materials or software is transferred to you as a result of any such downloading or copying. You may not reproduce (except as noted above), publish, transmit, distribute, display, modify, create derivative works from, sell or participate in any sale of or exploit in any way, in whole or in part, any of the Contents, the Site or any related software. All software used on this Site is the property of our website or its suppliers and protected by laws of Australia. The Contents and software on this Site may be used only as a shopping resource. Unless otherwise noted, all Contents are copyrights, trademarks and/or other intellectual property owned, controlled or licensed by our website, one of its affiliates or by third parties who have licensed their materials to us and are protected by laws of Australia. The compilation (meaning the collection, arrangement, and assembly) of all Contents on this Site is the exclusive property of our website and is also protected by laws of Australia.
          %p IV.If you learn of any unlawful material or activity on our website, or any material or activity that breaches this notice, please inform us. We respect the intellectual property rights of others and expect users of the Services to do the same. We will respond to notices of alleged copyright infringement that comply with applicable law and are promptly and properly provided to us.

        %li
          %p INDEMNITY
          %p You hereby indemnify us and undertake to keep us indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by us to a third party in settlement of a claim or dispute on the advice of our legal advisers) incurred or suffered by us arising out of any breach by you of any provision of these terms and conditions of use, or arising out of any claim that you have breached any provision of these terms and conditions of use.
        %li
          %p GOVERNING LAWS AND JURISDICTION
          %p These terms and conditions of use will be governed by and construed in accordance with Australian law, and any disputes relating to these terms and conditions of use will be subject to the exclusive jurisdiction of the courts of NSW Australia.
        %li
          %p DISPUTE RESOLUTION
          %p I. Generally, transactions are conducted smoothly on our website. However, there may be some cases where we and you may face issues. A 'Dispute' can be defined as a disagreement between you and us in connection with a transaction on the Website.
          %p II. In the interest of resolving disputes between you and us in the most expedient and cost effective manner, you and we agree that any and all disputes arising in connection with the Terms shall be resolved by binding arbitration. Arbitration is more informal than a lawsuit in court. Arbitration uses a neutral arbitrator instead of a judge or jury, may allow for more limited discovery than in court, and can be subject to very limited review by courts. Arbitrators can award the same damages and relief that a court can award. Our agreement to arbitrate disputes includes, but is not limited to all claims arising out of or relating to any aspect of the Terms, whether based in contract, tort, statute, fraud, misrepresentation or any other legal theory, and regardless of whether the claims arise during or after the termination of the Terms. YOU UNDERSTAND AND AGREE THAT, BY ENTERING INTO THE TERMS, YOU AND WE ARE EACH WAIVING THE RIGHT TO A TRIAL BY JURY OR TO PARTICIPATE IN A CLASS ACTION.
          %p III. The venue for arbitration shall be New South Wales, Australia and the Arbitration shall be in accordance with the laws of Australia and the language used for arbitration shall be English.
          %p IV. The award of the arbitration shall be binding on both, you and us.
          %p V. The suits which are impliedly or specifically barred by this agreement shall be opposed by us by pleading this agreement.
        %li
          %p RESTRICTED ACCESS
          %p Access to certain areas of our website may be restricted. We reserve the right to restrict access to areas of our website, or indeed our whole website, at our discretion. If we provide you with a user ID and password to enable you to access restricted areas of our website or other content or services, you must ensure that that user ID and password is kept confidential. You must notify us in writing immediately if you become aware of any unauthorized use of your account or password. You are responsible for any activity on our website arising out of any failure to keep your password confidential, and may be held liable for any losses arising out of such a failure. You must not use any other person’s user ID and password to access our website. We may disable your user ID and password in our sole discretion without notice or explanation.
        %li
          %p USER CONTENT
          %p I.In these terms and conditions of use, 'your public user content' means material (including without limitation text, images, audio material, video material and audio-visual material) that you submit to our website, for whatever purpose. You grant to us a worldwide, irrevocable, non-exclusive, royalty-free license to use, reproduce, adapt, publish, translate and distribute your public user content in any existing or future media. You also grant to us the right to sub-license these rights, and the right to bring an action for infringement of these rights. You warrant and represent that your user content will comply with these terms and conditions of use. Your user content must not be illegal or unlawful, must not infringe any third party’s legal rights, and must not be capable of giving rise to legal action whether against you or us or a third party (in each case under any applicable law).
          %p II. Your user content (and its publication on our website) must not:
        %ul.ordered
          %li.bullets be libelous or maliciously false;
          %li.bullets be obscene or indecent;
          %li.bullets infringe any copyright, moral right, database right, trade mark right, design right, right in passing off, or other intellectual property right;
          %li.bullets infringe any right of confidence, right of privacy, or right under data protection legislation;
          %li.bullets constitute negligent advice or contain any negligent statement;
          %li.bullets constitute an incitement to commit a crime;
          %li.bullets be in contempt of any court, or in breach of any court order;
          %li.bullets be in breach of racial or religious hatred or discrimination legislation;
          %li.bullets be blasphemous;
          %li.bullets be in breach of official secrets legislation;
          %li.bullets be in breach of any contractual obligation owed to any person;
          %li.bullets depict violence in an explicit, graphic or gratuitous manner;
          %li.bullets be pornographic or sexually explicit;
          %li.bullets be untrue, false, inaccurate or misleading;
          %li.bullets consist of or contain any instructions, advice or other information which may be acted upon and could, if acted upon, cause illness, injury or death, or any other loss or damage;
          %li.bullets constitute spam;
          %li.bullets be offensive, deceptive, threatening, abusive, harassing, or menacing, hateful, discriminatory or inflammatory; or
          %li.bullets cause annoyance, inconvenience or needless anxiety to any person.
        %p III. Your user content must be appropriate, civil, tasteful and accord with generally accepted standards of etiquette and behavior on the internet. You must not use our website to link to any website or web page consisting of or containing material that would, were it posted on our website, breach the provisions of these terms and conditions of use. You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint. We reserve the right to edit or remove any material submitted to our website, or stored on our servers, or hosted or published upon our website. Notwithstanding our rights under these terms and conditions of use in relation to user content, we do not undertake to monitor the submission of such content to, or the publication of such content on, our website.

        %li
          %p PRIVACY
          %p All Personal Information and User Generated Content provided to or displayed on the Site and Services are subject to our Privacy Statement.
        %li
          %p NOTICE
          %p I. By using the Site and Services, you accept that communication with us will be mainly electronic. We will contact you by email or provide you with information by posting notices on the Site and Services.
          %p II.You acknowledge that all contracts, notices, information and other communication we may provide electronically comply with any legal requirements that such documents are in writing.
          %p III. Notice will be deemed received and properly served immediately when posted on the Site and Services, 24 hours after an email is sent, or 3 days after the date of posting any letter. As proof of service, it is sufficient that:
        %ul.ordered
          %li.bullets For letters, the letter was properly addressed, stamped and placed in the post; and
          %li.bullets For emails, the email was sent to the specified email address.
        %li
          %p LEGAL COMPLIANCE
          %p I. In addition to this Agreement, you must familiarize yourself with, and comply with the Policies, domestic laws (including common law), state legislation, international laws, statutes, ordinances and regulations regarding your use of our services. Notwithstanding successful conclusion of a transaction you must ensure strict compliance with any particular formalities which, if not complied with, will either render a transaction void or unlawful.
          %p II. You alone, and not we, are responsible for ensuring that the services and any other activities conducted on the website are lawful. You must ensure that they comply with all applicable laws in Australia and all other countries.
          %p III. You should comply with applicable regulations.
        %li
          %p LINKS TO OTHER WEBSITES
          %p Our website includes hyperlinks to other websites owned and operated by third parties. These links are not recommendations. We have no control over the contents of third party websites, and we accept no responsibility for them or for any loss or damage that may arise from your use of them. If you decide to access any of the third party Websites linked to this site, you do this entirely at your own risks.
        %li
          %p NO WAIVER IMPLIED
          %p The failure of us to enforce at any time any of the provisions of these of Agreement, or the failure to require at any time performance by you of any of the provisions of these provisions, shall in no way be construed to be a present or future waiver of such provisions, nor in any way affect the right to enforce each and every such provision thereafter. The express waiver by us of any provision, condition or requirement of these provisions shall not constitute a waiver of any future obligation to comply with such provision, condition or requirement.
        %li
          %p SEVERABILITY
          %p If a provision of these terms and conditions of use is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.
        %li
          %p ASSIGNMENT
          %p We may assign our rights and delegate any of our obligations under these Terms, in whole or in part, without your consent. Any assignment or delegation in violation of the foregoing will be null and void. These Terms will be binding and inure to the benefit of each party’s permitted successors and assigns. We may transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions of use without notifying you or obtaining your consent. You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions of use.
        %li
          %p EXCLUSION OF THIRD PARTY RIGHTS
          %p These terms and conditions of use are for the benefit of you and us, and are not intended to benefit any third party or be enforceable by any third party. The exercise of our and your rights in relation to these terms and conditions of use is not subject to the consent of any third party.
        %li
          %p FORCE MAJEURE
          %p We shall be under no liability to you in respect of anything that, if not for this provision, would or might constitute a breach of these Terms, where this arises out of circumstances beyond our control, including but not limited to:
        %div.numbered (a) act of god
        %div.numbered (b) natural disasters;
        %div.numbered (c) sabotage;
        %div.numbered (d) accident;
        %div.numbered (e) riot;
        %div.numbered (f) shortage of supplies, equipment, and materials;
        %div.numbered (g) strikes and lockouts;
        %div.numbered (h) civil unrest;
        %div.numbered (i) Computer hacking; or
        %div.numbered (j) malicious damage.
        %li
          %p
          %p DIGITAL SIGNATURE
          %p I. By using our services, you are deemed to have executed this Agreement electronically, effective on the date you register your Account and start using our services. Your Account registration constitutes an acknowledgement that you are able to electronically receive, download, and print this Agreement.
          %p II. In connection with this Agreement, you may be entitled to receive certain records, such as contracts, notices, and communications, in writing. To facilitate your use of the website, you give us permission to provide these records to you electronically instead of in paper form.
          %p III. By registering for an Account, you consent to electronically receive and access, via email, all records and notices for the services provided to you under this Agreement that we would otherwise be required to provide to you in paper form. However, we reserve the right, in our sole discretion, to communicate with you via the Postal Service and other third-party mail services using the address under which your account is registered. Your consent to receive records and notices electronically will remain in effect until you withdraw it. You may withdraw your consent to receive further records and notices electronically at any time by contacting Customer Support. If you withdraw your consent to receive such records and notices electronically, we will terminate your access to the Services, and you will no longer be able to use the Services. Any withdrawal of your consent to receive records and notices electronically will be effective only after we have a reasonable period of time to process your request for withdrawal. Please note that your withdrawal of consent to receive records and notices electronically will not apply to records and notices electronically provided by us to you before the withdrawal of your consent becomes effective.
          %p IV. In order to ensure that we are able to provide records and notices to you electronically, you must notify us of any change in your email address by updating your Account information on the website or by contacting Customer Support.
        %li
          %p ENTIRE AGREEMENT
          %p These terms and conditions of use, together with the other legal notices on this web page, constitute the entire agreement between you and us in relation to your use of our website, and supersede all previous agreements in respect of your use of this website.
        %li
          %p CONTACT US
          %p For any further clarification of out Terms and Conditions, please write to us at admin@cefiles.com
        %li
          %p OUR DETAILS
          %p The CE files website is owned and operated by Product Presence with its office located in Sydney, Australia
