<div class="content-page-holder container w-100 mw-100">
  <div class="products-inner pl-4">
    <div class="products-header">
      <h1 class="pl-4">Enquiry Profile</h1>
    </div>
    <div class="card card-show mb-5">
      <div class="card-body">
        <div class="row mb-4">
          <div class="col-md-3 list-lbl">
            Created At
          </div>
          <div class="col-md-9 list-val"><%=format_date_time @enquiry.created_at %></div>
        </div>
        <div class="row mb-4">
          <div class="col-md-3 list-lbl">
            Name
          </div>
          <div class="col-md-9 list-val"><%=@enquiry.user.display_name %></div>
        </div>
        <div class="row mb-4">
          <div class="col-md-3 list-lbl">
            Email
          </div>
          <div class="col-md-9 list-val"><%=@enquiry.email %></div>
        </div>
        <div class="row">
          <div class="col-md-3 list-lbl">
            Message
          </div>
          <div class="col-md-9 list-val"><%=@enquiry.content %></div>
        </div>
      </div>
    </div>


  </div>
</div>
