<div class="payment-info">
  <h4>Payment Info</h4>
  <%= simple_form_for :subscription, url:subscriptions_path,html:{class:"form-horizontal",id:"subscription-form"}, method: :post do |f| %>
    <%= f.input  :plan_id, as: :hidden, input_html:{value:params[:p_id] || current_user.company.selected_plan_id} %>
    <div class="row">
      <div class="col-md-12 center-block text-center">
        <%= render 'shared/stripe_form' %>
      </div>
    </div>
    <div class="form-group row mt-3">
      <div class="col-md-12 subscribe-btn">
        <%= f.button :submit, "Subscribe",class:"btn btn-primary" , data: { disable_with:"Please wait..." } %>
      </div>
    </div>
  <% end %>
</div>
