body {
  border-top: 5px solid $files;
  overflow-x: hidden;
  &.products {
    border-top: none;
  }
}
html,
body {
  margin:0;
  padding:0;
  height:100%;
}


 

@media only screen and (max-width: 1000px){
  .main-content{
    .body-content{
    .dashboard-header{
        padding: 0px;
        display: block;
        height: auto;
        min-height: 50px;
        overflow: hidden;
        background: #606262;
        .menu-btn {
            position: absolute;
            top: 12px;
            right: 15px;
            background: transparent;
            padding: 7px;
            border-radius: 5px;
            display: block !important;
            z-index: 12;
        }
        .logo {
          float: left;
          width: 100px;
          padding: 12px;
      }
      .navigation-holder {
        position: relative;
        left: 0;
        top: 20px;
        width: 100%;
        display: none;
        z-index: 7;
        ul{
          .first-tab{
            border-top: 1px solid #797c7c;
            a{
              margin: 2px;
            }
          }
        }
        .current-user{
          color: #a0a2a2;
        }
        .logout-tab{
          background: #2eb5ab !important;
          color: #fff !important;
          a{
            background: #2eb5ab image-url("right-.png") 95% center no-repeat !important;
          }
        }
        ul.navigation li{
          
          padding: 16px;
          background: #606262 ;
          border-bottom: 1px solid #797c7c;
          
        }
        ul.navigation li a {
          text-align: left;
          font-size: 13px;
          display: block;
          background: #606262 image-url("right-.png") 95% center no-repeat ;
          padding: 0px;
          font-family: Arial, Helvetica, sans-serif;
          color: #fff;
          border-bottom: none;
          transition: all 0.5s;
      }
    }
    }
    
  }
  }
  }



.main-content {
  min-height:100%;
  position:relative;
}
.body-content {
  padding: 0 15px;
  padding-bottom: 100px;
  @include tablet {
   // padding-bottom: 207px;
  }
}
.header-holder {
  &.homepage {
    padding: 20px 15px 0;
    & .logo {
      float: left;
      width: 150px;
      img {
        max-width: 100%;
      }
    }
    & .navigation-holder {
      position: absolute;
      left: 0;
      top: 80px;
      width: 100%;
      display: none;
      z-index: 7;
    }
    @include tablet {
      padding: 70px 15px 0;
      & .logo {
        float: none;
        text-align: center;
        margin: 0 auto;
        width: 240px;
        padding: 0 0 70px;
        img {
          max-width: 100%;
          width: 100%;
        }
      }
      & .navigation-holder {
        position: initial;
        left: initial;
        top: initial;
        width: initial;
        display: block;
      }
    }
  }
  @include tablet {
    max-width: 1200px;
    margin: 0 auto;
  }
}
ul.navigation {
  margin: 0;
  padding: 30px 0px 19px 0px;
  li {
    display: block;
    a {
      text-align: center;
      font-size: 13px;
      display: block;
      padding: 12px 15px;
      background: $white;
      font-family: $font;
      color: #848484;
      border-bottom: 1px solid $lightGray;
      transition: all 0.5s;
      &:hover {
        background: $black;
        color: $white;
      }
    }
  }
  li:first-child {
    //border-top: 1px solid $lightGray;
  }
  @include tablet {
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      color: $gray;
      font-size: 13px;
      a {
        background: none;
        color: $gray;
        padding: 10px 15px;
        font-size: 13px;
        border: none;
        border: 1px solid $white;
        &:hover {
          //width: 89px;
          text-align: left;
          //height: 36px;
          background: transparent;
          text-align: left;
          border-radius: 5px;
          color: #00a79d;
          padding: 10px 15px;
        }
        &.active {
          width: 89px;
          text-align: left;
          height: 36px;
          background: #00a79d image-url("right-.png") 95% center no-repeat !important;
          text-align: left;
          border-radius: 5px;
          color: #fff;
        }
      }
    }
  }
}
a:hover{
  text-decoration: none !important;
}


ul.navigation {
  margin: 0;
  padding: 30px 0px 19px 0px;
  @include tablet {
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      .login-btn {
        background: none;
        color: #fff;
        padding: 10px 15px;
        font-size: 13px;
        font-weight: bold;
        border: none;
        border: 1px solid $white;
        &:hover {
          width: 89px;
          text-align: left;
          height: 36px;
          background: #238695 image-url("right-.png") 95% center no-repeat !important;
          text-align: left;
          border-radius: 5px;
          color: #00a79d;
          padding: 10px 15px;
          color: white;
        }
        &.active {
          width: 89px;
          text-align: left;
          height: 36px;
          background: #00a79d image-url("right-.png") 95% center no-repeat !important;
          text-align: left;
          border-radius: 5px;
          color: #fff;
        }
      }
    }
  }
}

.header-holder{
ul.navigation {
  margin: 0;
  padding: 30px 0px 19px 0px;
  @include tablet {
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      .logout-btn {
        background: none;
        color: #fff;
        padding: 10px 15px;
        font-size: 13px;
        font-weight: bold;
        border: none;
        border: 1px solid $white;
        &:hover {
          width: 89px;
          text-align: left;
          height: 36px;
          background: #238695 image-url("right-.png") 95% center no-repeat !important;
          text-align: left;
          border-radius: 5px;
          color: #00a79d;
          padding: 10px 15px;
          color: white;
        }
        &.active {
          width: 89px;
          text-align: left;
          height: 36px;
          background: #00a79d image-url("right-.png") 95% center no-repeat !important;
          text-align: left;
          border-radius: 5px;
          color: #fff;
        }
      }
    }
  }
}

}
