$roboto:'Source Sans Pro', sans-serif;
$body-copy:14px;
$mahalight:300;
$normal:400;
$thin:100;
$light:500;
$medium:800;
$bold:900;

$primary: #2eb5ab;
$body-line-height:20px;
$white:#ffffff;
$off-white:#f4f4f4;
$gullGray:#484545;
$black:#000000;
$pumpkin:#e3ae46;
$midnightBlue:#002663;
$lightGray:#848484;
$grayBorder:#dadada;
$success:#15a70a;
$contactBorder:#989797;





