
<div class="content-page-holder" style="padding-top:0px">
  <div class="products-inner">
    <div class="products-header1 standard">
      <h1>Edit Document</h1>
    </div>
    <div class="product-form-rows">
      <%= render 'form', product: @product, document: @document %>
    </div>
  </div>
</div>
