@import "partials/responsive";
@import "partials/reset";
@import "partials/menu-btn";

@import "partials/header";
@import "partials/footer";
@import "modules/login";
@import "modules/plans";
@import "public/public";
@import "toastr/toastr";
@import "modules/subscriptions";
@import "modules/overlay_loader";
@import "modules/specifications";
@import "modules/custom";
@import "modules/custom_responsive";


.header-holder.accountpage {
    padding: 40px 0px;
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1100px;
}



.register-btn{
	text-align:right;
}
.login-sec{
	font-size:28px;
}


.dropdown-element{
    bottom: 35px;
    position: absolute;
    right: 0px;
    .login-btn{
  color: #fff;
    font-weight: 500;
    width: 89px ;
    height: 36px;
    background: #2eb5ab;
    -o-border-radius: 5px;
    border-radius: 5px;
}
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    .login{
.login-sec{
    padding: 10px 10px;
}
}
}


@media screen and (max-width: 764px) {
.register-btn{
    a{
    display:block;
    margin-top:10px;
    }
}

.dropdown-element{
    padding: 70px 0px !important;
    bottom: 35px;
    position: relative;
    right: 0px;
    .login-btn{
    text-align: center;
    font-size: 13px;
    display: block;
    width:100%;
    padding: 12px 15px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color: #afaeae;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.5s;
}
}
.header-holder.accountpage {
    padding:14px;
    position: inherit;
}
  .register-btn{
	text-align:left;
}
.form-holder {
    padding: 15px;
    margin: 0 auto;
    .submit-row{
    padding: 30px 11px 30px 0px;
    }
}
.login{
.login-sec{
	padding: 10px 10px;
}
}
}





.form-rows .input-field {
    width: 100%;
    background: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    box-shadow:none;
    color: #848484;
    font-size: 13px;
}
textarea.form-control {
    height: 100px;
}
.login{
	margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1075px;
}
@media only screen and (min-width: 768px){
.header-holder.accountpage .logo {
    a{

    img{
        width:137px;
    height:50px;

    }
    }
}
}