@import "partials/responsive";
@import "partials/reset";
@import "partials/menu-btn";

@import "partials/header";
@import "partials/footer";
@import "modules/login";
@import "modules/plans";
@import "public/public";
@import "toastr/toastr";
@import "modules/subscriptions";
@import "modules/overlay_loader";
@import "modules/specifications";
@import "modules/custom";
@import "modules/custom_responsive";
@import "partials/typography";
.my-card-header{
  color: $primary;
  font-style: italic;
  font-family: "minion-pro",Serif;
}
.prod-image{
  width: 10rem;
  height: 8rem;
  border: #ddd solid 1px;
  padding: 10px;
}
.card-show{
  margin-bottom: 5rem;

  .list-lbl{
    font-weight: bold;
    color: $lightGray;
    font-size: 14px;
  }
  .list-val{
    color: $lightGray;
    font-size: 14px;
  }
  a{
    color: $lightGray;
  }
}

.custom-textarea{
  width: 440px;
}
a.link{
  color: $primary;
  text-decoration: underline;
}
.listing-tbl{
  margin-bottom: 5rem;
  table{
    tbody tr td{
      overflow-wrap: anywhere;
    }
  }
}
a.show-as-link{
  color: #2eb5ab;
  text-decoration: underline;
}
.qr-container{
  display: none;
}
.action-btn{
  font-family: Arial;
  font-size: 13px;
}


.header-holder.accountpage {
    padding: 30px 0px 20px;
    position: relative; 
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 967px;
}



.register-btn{
	text-align:right;
}
.login-sec{
	font-size:28px;
}

a:hover{
    text-decoration: none !important;
}

.dropdown-element{
    bottom: 25px;
    position: absolute;
    right: 0px;
    li{
        padding: 0 5px 0 10px;
    }
    .login-btn{
  color: #fff;
    font-weight: 500;
    width: 89px ;
    height: 36px;
    background: #00a79d image-url("right-.png") 95% center no-repeat !important;
    text-align: left;
    -o-border-radius: 5px;
    border-radius: 5px;
}
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
    .login{
.login-sec{
    padding: 10px 10px;
}
}
}


@media screen and (max-width: 764px) {

    .dropdown-element{
        bottom: 35px;
        position: absolute;
        right: 0px;
        .login-btn{
      color: #848484;
        font-weight: 500;
        width: 89px ;
        height: 36px;
        background: transparent !important;
        text-align: left;
        -o-border-radius: 5px;
        border-radius: 5px;
    }
    }
.register-btn{
    a{
    display:block;
    margin-top:10px;
    }
}

.dropdown-element{
    padding: 70px 0px 0px 0px !important;
    bottom: 35px;
    position: relative;
    right: 0px;
    li{
        padding: 0 2px 0 2px;
    }
    .login-btn{
    text-align: center;
    font-size: 13px;
    display: block;
    width:100%;
    padding: 12px 15px;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    color:#848484;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.5s;
}
}
.header-holder.accountpage {
    padding:14px;
    position: inherit;
}
  .register-btn{
	text-align:left;
}
.form-holder {
    padding: 15px;
    margin: 0 auto;
    .submit-row{
    padding: 30px 11px 30px 0px;
    }
}
.login{
.login-sec{
	padding: 10px 10px;
}
}
}





.form-rows .input-field {
    width: 100%;
    background: #fff;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #d0d0d0;
    box-shadow:none;
    color: #848484;
    font-size: 13px;
}
textarea.form-control {
    height: 100px;
}
.login{
	margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1075px;
}
@media only screen and (min-width: 768px){
.header-holder.accountpage .logo {
    a{

    img{
        width:137px;
    height:50px;

    }
    }
}
}


.home-header{
    font-size: 30px;
    ul 
    {
      li{
        a{
          color: #898989;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    padding: 9px 20px;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomright: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #fff !important;
    outline: none !important;
    text-decoration: none !important;
        }
      }
    }
  }