<div class="content-page-holder detailed-search-holder">
  <div class="products-inner">
    <div style="margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1060px;">
      <%= render "search_products" %>
      <div class="row mt-2">
      <div class="col-md-12 ">
        <%= render "pages/product_listing" %>
      </div>
    </div>
    </div>
  </div>

</div>
