<div class="content-page-holder contact-holder">
  <div class="products-inner container login">
    <div class="contact-header">
      <span>
        <h1 class="login-sec" style="border-bottom:none;">Contact Us</h1>
        <p class="login-sec">Please send us your enquiry, by filling out the steps below. Thanks!</p>
      </span>

    </div>
    <div class="contact-form-rows login-sec">
      <%= render "form" %>
    </div>

  </div>
</div>
