<div class="content-page-holder contact-holder">
  <div class="products-inner container">
    <div class="contact-header">
      <span>
        <h2>Contact Us</h2>
        <p>Please send us your enquiry, by filling out the steps below. Thanks!</p>
      </span>

    </div>
    <div class="contact-form-rows">
      <%= render "form" %>
    </div>

  </div>
</div>
