<div class="content-page-holder" style="margin-bottom: 240px;">
  <div class="container thanks-screen">
    <div class="row align-items-center">
      <div class="col center-block text-center ">
        <h2>Thank You</h2>
      </div>

    </div>

    <div class="row">
      <div class="col center-block text-center">
        <p>Thank you for sending us your thoughts on CE files. We'll get back to you as soon as we can.</p>
      </div>

    </div>
  </div>


</div>